<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User | Certify Admin Portal</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" th:href="@{/images/certify.png}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex">
<div th:replace="~{components/sidebar :: sidebar}"></div>
<div class="flex-1">
    <div th:replace="~{components/adminhead :: adminhead}"></div>
    
</div>
<script src="/scripts.js"></script>
</body>
</html>