<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard | Certify Admin Portal</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" th:href="@{/images/certify.png}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex">
<div th:replace="~{components/sidebar :: sidebar}"></div>
<div class="flex-1">
    <div th:replace="~{components/adminhead :: adminhead}"></div>
    <section class="m-3 lg:m-5">
    <p class="text-blue-500">
        Welcome <span class="underline" th:text="${currUser}"></span>
    </p>
    <div class="py-2 grid grid-cols-1 lg:grid-cols-3 gap-2">
        <div th:each="item : ${dataArr}" class="p-4 bg-white border border-blue-500 rounded-lg shadow">
            <h2 class="font-semibold text-lg" th:text="${item.desc}"></h2>
            <div class="flex justify-between items-center gap-2">
                <p class="text-3xl font-bold text-center text-blue-600" th:text="${item.count}"></p>
                <img src="https://www.svgrepo.com/show/4092/files.svg" alt="Logo" class="w-10">
            </div>
            <p class="text-gray-300 text-sm">*Lifetime</p>
        </div>
    </div>
</section>
</div>
<script src="/scripts.js"></script>
</body>
</html>