<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Certify</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" th:href="@{/images/certify.png}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="max-w-6xl mx-auto">
    <header th:replace="~{components/header :: header}">
    </header>
    <main class="bg-linear-to-r from-blue-100 to-blue-300 rounded-b-2xl">
        <div class="flex flex-col lg:flex-row justify-between gap-10 items-center p-10 lg:p-14">
            <section class="lg:w-1/2 flex flex-col justify-center items-center lg:justify-start lg:items-start gap-5 h-full">
                <h1 class="text-xl text-center lg:text-left lg:text-3xl text-black font-bold">Verify Certificates <br/><span class="text-blue-500">Instantly &amp; Securely</span></h1>
                <p class="text-sm text-black lg:text-md text-center lg:text-justify">Search and validate academic certificates using UID or Course Code in seconds. Our encrypted database ensures absolute data integrity. </p>
                <a th:href="@{/verify}" class="btn bg-black text-white rounded-xl w-auto">Verify Certificate <span class="text-3xl">&#8594;</span></a>
            </section>
            <section class="relative lg:w-1/2 w-full flex flex-col justify-start items-start gap-1 shadow-lg rounded-3xl">
                <img th:src="@{/images/verified.svg}" alt="Certificate" class="absolute animate-pulse top-4 right-4 w-12 bg-transparent lg:w-16 z-10 bg-white p-2 rounded-3xl">
                <div class="bg-white hover:bg-blue-100 transition-all duration-700 w-full h-80 rounded-3xl p-10">
                    <div class="bg-slate-300/20 border border-dotted border-black h-full rounded-2xl w-full flex items-center justify-center">
                        <img th:src="@{/images/certificate.svg}" alt="Certificate" class="max-w-20 opacity-10 h-auto">
                    </div>
                </div>
            </section>
        </div>
    </main>
    <section class="bg-white grid grid-cols-1 lg:grid-cols-3 gap-4 p-10">
        <div class="bg-white hover:bg-blue-200 transition-all duration-700 p-6 rounded-2xl shadow-md border border-blue-300" th:each="item : ${feature}">
            <img th:src="${item.icon}" th:alt="${item.title}" class="w-12 h-12 mb-4">
            <h3 th:text="${item.title}" class="text-xl font-bold text-gray-800"></h3>
            <p th:text="${item.desc}" class="text-gray-600 mt-2"></p>
        </div>
    </section>
    <section class="bg-gray-200 w-full p-10 rounded-2xl">
        <h2 class="text-xl font-bold text-black text-center lg:text-3xl">How It Works?</h2>
        <p class="text-gray-600 mt-2 text-center">Validate any certificate in three simple steps using our verification engine.</p>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 py-2">
            <div class="hover:bg-blue-100 transition-all duration-700 p-6 rounded-2xl shadow-md border border-blue-300 hover:border-black" th:each="item : ${workway}">
                <h3 th:text="${item.title}" class="text-xl text-center font-bold text-gray-800"></h3>
                <p th:text="${item.desc}" class="text-gray-600 mt-2 text-center"></p>
            </div>
        </div>
    </section>
    <section class="bg-white w-full p-10">
        <div class="flex bg-blue-950 rounded-2xl p-5 flex-col lg:flex-row gap-3 justify-center lg:justify-between items-center">
            <section class="w-2.5/4">
                <h2 class="text-xl lg:text-2xl font-bold text-white">Institutional Administrator?</h2>
                <p class="text-gray-300 text-justify mt-2">Log in to the system authority panel to manage certificates, issue new credentials, and monitor verification logs.</p>
            </section>
            <a class="btn bg-blue-500 rounded-3xl text-white" th:href="@{/admin}">Admin Portal</a>
        </div>
    </section>
    <footer th:replace="~{components/footer :: footer}">
    </footer>
</body>
</html>