<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistics | Certify</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" th:href="@{/images/certify.png}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="max-w-6xl mx-auto">
    <header th:replace="~{components/header :: header}">
    </header>
    <main class="bg-linear-to-r from-blue-100 to-blue-300 rounded-b-2xl">
        <div class="flex flex-col mb-5 lg:flex-row justify-between gap-10 items-center p-10 lg:p-14">
            
        </div>
    </main>
    <footer th:replace="~{components/footer :: footer}">
    </footer>
</body>
</html>